{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Accueil{% endblock %}

{% block body %}

    <h1>Une question ? Recherchez votre réponse !</h1>
    {{ render(controller('App\\Controller\\BlogController::searchBar')) }}
    {% if app.request.method == 'POST' %}
        <div style="margin-top: 50px; width: 100%">
            {% if blogs | length == 0 %}
                <div style="">
                    <h4 style="text-align: center">Aucun résulat pour votre recherche.</h4>
                </div>

            {% else %}
                <h4 style="text-align: center">Vos résulats de recherche :</h4>
                <div class="wrapper">
                    <div class="cols">
                        {% for blog in blogs %}
                            <div class="col" ontouchstart="this.classList.toggle('hover');">
                                <div class="container">
                                    <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                                        <div class="inner">
                                            <p>{{ blog.title }}</p>
                                            <span>{{ blog.user.username }}</span>
                                        </div>
                                    </div>
                                    <div class="back">
                                        <div class="inner">
                                            <p>{{ blog.description }}</p>
                                            {% if not blog.isModify %}
                                                <p style="font-size: 15px; margin-top: 10px">{{ blog.date.format("d/m/Y - H:i") }}</p>
                                            {% else %}
                                                <p style="font-size: 15px; margin-top: 10px">{{ blog.modifyDate.format("d/m/Y - H:i") }}</p>
                                            {% endif %}
                                            <span style="display: flex; justify-content: space-around; margin-top: 10px">
                                <button><a href="{{ path('AppViewBlog', {'id': blog.id}) }}">Consulter</a></button>
                            </span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            {% endif %}
        </div>
    {% endif %}


{% endblock %}