{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Contact{% endblock %}

{% block body %}

    {{ form_start(contactForm) }}
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form validate-form"><span class="login100-form-title">Contactez-nous</span>
                <div class="wrap-input100 validate-input">
                    {{ form_row(contactForm.email, {attr: {class: 'form-control input100', placeholder: 'Email'}}) }}
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input">
                    {{ form_row(contactForm.subject, {attr: {class: 'form-control input100', placeholder: 'Sujet'}}) }}
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    {{ form_row(contactForm.content, {attr: {class: 'form-control input100', placeholder: 'Votre message ici', style : 'height: 150px; resize: none; width: 100%; padding-top: 15px'}}) }}
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Envoyer
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(contactForm) }}

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('logasset/login.css') }}">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
{% endblock %}


